
<header>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid nav-custom-background">
            <div class="navbar-header">
                <a class="navbar-brand nav-color header-font" href="#" id="home">HackOSU</a>
            </div>
            <ul class="nav navbar-nav navbar-right nav-color">
                <li><a class="nav-color" href="#" id="about">About</a></li>
                <li><a class="nav-color" href="#" id="schedule">Schedule</a></li>
                <li><a class="nav-color" href="#" id="faqs">FAQs</a></li>
                <li><a class="nav-color" href="#" id="sponsors">Sponsors</a></li>
                <li><a class="nav-color" href="#" id="contacts">Contact</a></li>
                <li><a class="nav-color" href="#" id="admin">AdminAccess</a></li>
            </ul>
        </div>
    </nav>

</header>