
<header>
    <nav class="navbar navbar-expand-lg navbar-dark text-white fixed-top">
        <div class="container">
            <a class="navbar-brand nav-color rhealm-h-nav" href="/.." id="home">HackOSU</a>
        </div>
    </nav>
</header>