<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>HackOSU</title>

        <link href="https://fonts.googleapis.com/css?family=Spectral" rel='stylesheet'>

        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" media="screen">

        <link rel="stylesheet" href="/style.css" media="screen">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>

        <!-- This script incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

        <script src="/twitTemplate.js" charset="utf-8" defer></script>

        <script src="/index.js" charset="utf-8" defer></script>

    </head>

    <body>

        {{{body}}}

    </body>

</html>