
{{> headerOnly}}

<form class="container">

    <div class="">
    
        <h3>Hackathon Registration</h3>

    </div>

    <div class="form-container">
                
        <div class="form-group">

            <label for="first-name">What's your first name?</label>
            <input type="text" class="form-control" id="first-name" placeholder="First Name">

        </div>

        <div class="form-group">

            <label for="last-name">What's your last name?</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name">

        </div>

        <div class="form-group">

            <label for="email-address">Which email address should we use?</label>
            <input type="email" class="form-control" id="email-address" placeholder="name@example.com">
            <small id="emailHelp" class="form-text text-muted">Your email will never be shared with anyone else.</small>
        
        </div>

        <div class="form-group">
        
            <label for="phone-number">What is your phone number?</label>
            <input type="text" class="form-control" id="phone-number" placeholder="123-456-7890">
        
        </div>

        <div class="form-group">

            <label for="college-name">What college/university do you currently attend?</label>
            <input type="text" class="form-control" id="college-name">

        </div>

        <div class="form-group">

            <label for="college-major">What is your major?</label>
            <input type="text" class="form-control" id="college-major">

        </div>

        <!--

        <div class="form-group">

            <label for="grad-year">What is your expected graduation year?</label>
            <input type="text" class="form-control" id="grad-year">

        </div>

        -->

        <div class="form-group">

            <label for="b-day">When is your birthday?</label>
            <input type="date" class="form-control" id="b-day">

        </div>

        <div class="form-group">

            <label for="gender-identity">What gender do you identify as?</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <label class="btn btn-light btn-block">
                    <input type="radio" name="gender" value="Male">Male
                </label>
                <label class="btn btn-light btn-block">
                    <input type="radio" name="gender" value="Female">Female
                </label>
                <label class="btn btn-light btn-block">
                    <input type="radio" name="gender" value="Other">Other
                </label>

            </div>

        </div>

        <div class="form-group">

            <label for="race-ethnicity">What is your race/ethnicity?</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="Asian/Pacific Islander/Native Hawaiian">Asian/Pacific Islander/Native Hawaiian
                </label>
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="American Indian/Native Alaskan">American Indian/Native Alaskan
                </label>
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="African American/Black">African American/Black
                </label>                
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="Hispanic/Latino">Hispanic/Latino
                </label>
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="Caucasian/White">Caucasian/White
                </label>
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="Other">Other
                </label>
                <label class="btn btn-light btn-block btn-block-race">
                    <input type="radio" name="race" value="No Answer">Prefer to not answer
                </label>

            </div>

        </div>

        <div class="form-group">

            <label for="from-city">Where are you travelling from?</label>
            <input type="text" class="form-control" id="from-city" placeholder="City, State"></input>

        </div>

        <!--

        <div class="form-group">

            <label for="year-in-school">What is your year in school as of Winter 2019?</label>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                <input type="radio" class="btn btn-light btn-block active" name="race" value="Freshman" 
                <input type="radio" class="btn btn-light btn-block" name="race" value="Sophomore" 
                <input type="radio" class="btn btn-light btn-block" name="race" value="Junior" 
                <input type="radio" class="btn btn-light btn-block" name="race" value="Senior" 
            
            </div>

        </div>

        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-input-2-save">
                <label class="custom-file-label" for="file-input-2-save">Choose file</label>
            </div>
        
        </div>

        -->

        <button type="submit" class="btn btn-dark" id="submit-new-registration">Submit</button>

    </div>

</form>