
* {
    font-family: 'Spectral';
    color: white;
}

a {
    font-size: 18px;
}

html 
{ 
    background: url(index-bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-custom-background 
{
    background-color: #000000;
}

.nav-color 
{
    color: white;
}

.header-font 
{
    font-size: 36px;
}

.info-containers 
{
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.footer-container 
{
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
}

.bg-default-image
{
    margin: 0;
    padding: 0;
    background: white;
    font-size: 100%;
}

.bg-index-image
{
    background-image: url('/public/images/index-bg.png');
}

.bg-admin-image
{
    background-image: url('/public/images/admin-bg.png');
}

.bg-forms-image
{
    background-image: url('/public/images/forms-bg.png');
}

.center-text 
{
    text-align: center;
}

.gender-button .race-button 
{
    font: 12px;
}