
* {
  font-family: 'Spectral';
}

html, body {
  height: auto;
}

html.form-container {
  height: none;
}

body {
  padding-top: 0px;
  display: flex;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

a.text-white {
  font-size: 18px;
}

.header-font-lg {
  font-size: 32px;
}

nav {
  background-color: rgba(0,0,0,0.4);
}

form.container {
  margin-top: 170px;
  background-color: rgba(255,255,255,0.8);
  max-width:800px;
  margin-bottom: 100px;
}

main.container {
  margin-top: 170px;
  background-color: rgba(255,255,255,0.8);
  max-width:1200px;
  margin-bottom: 100px;
  min-height: 600px;
}

.rhealm-h-nav {
  font-size: 40px;
  text-align: center;
}

small {
  font-size: 65%;
  font-weight: 100;
}

small.text-muted {
  color: black!important;
}

.btn-block {
  width: 25%;
}

input[type=button].btn-block {
  width: 72%;
}

.btn {
  text-align: left;
}

.btn-group {
  display: block;
}

.form-group, h3, {
  color: #4c4c4c;
  line-height: 45px;
}

h3 {
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 3.1rem;
  text-align: center;
  font-weight: 100;
}

.form-control {
  width: 70%;
}

.form-container {
  width: 70%;
  margin: auto;
  font-size: 1.4rem;
  font-weight: none;
  margin-bottom: 10%;
}

.btn-block-race {
  width: 67%;
}

.error-container {
  margin-top: 350px;
  text-align: center;
  color: #cc0000;
  background-color: rgba(255,255,255,0.8);
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.rhealm-btn-wrapper {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-items: center;
}

.rhealm-btn {
  position: relative;
  top: 32rem;
  font-size: 2.5rem;
  opacity: .7;
  color: #FFDF00;
}

.rhealm-index-bg { 
  background: url(/images/index-bg.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}